body { 
    font-family: Arial, 
    sans-serif; 
    margin: 0; 
    background-image: url('media/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #2c2002; }

header { 
    background-color: #f5f3f3; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    padding: 20px; }

header .container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position:fixed;
    top: 0;            
    left: 0;
    right: 0;
    z-index: 1000;     
    background: #fff;  
    padding: 10px 20px;
    margin: auto; }

header h1 { 
    margin: 0; 
    font-size: 24px; 
    color: #222; }

header nav a { 
    margin-left: 15px; 
    text-decoration: none; 
    color: #070000; 
    font-size: 14px; }

header nav a:hover { 
    color: #0077cc; }

main { 
    max-width: 1000px; 
    margin: auto; 
    padding: 40px 20px;
    
}

section { 
    
    margin-bottom: 50px; }

h2 { font-size: 22px; 
    margin-bottom: 15px; 
    color: #322c86; }

p { margin: 30px; 
    text-align: justify;   
    line-height: 1.6; }

.hero { 
    height: 500px;
    display: grid; 
    margin-top: 50px;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
    align-items: center; }

.hero img { 
   
    width: 250px; 
    border-radius: 10%; 
    background: #ddd; 
    object-fit: cover;
 }

.skills, .education, .certifications, .experience, .projects, .contact { 
    scroll-margin-top: 70px;
    background: #fbfcfa; 
    margin-top: 50px;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); }

.skills ul, .experience ul, .projects ul, .certifications ul { 
    list-style: disc; 
    margin-left: 20px; }

.projects article { 
    margin-bottom: 20px; }

footer { 
    text-align: center; 
    font-size: 13px; 
    background-color: #f5f3f3; 
    color: #272626; 
    padding: 20px; 
    height: 40px;
    border-top: 1px solid #eee; }
    
.btn { 
    display: inline-block; 
    padding: 8px 14px; 
    margin-top: 10px; 
    background-color: #fff;
    border: 2px solid #0077cc; 
    color: #0077cc; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 14px; }

.btn:hover { 
    background: #0077cc; 
    color: #fff; }
  
.Certificate {
  height: 250px;
  border-radius: 10px;
}

.divser {
    background-color: #f3ffeb;
    border-radius: 10px;
}


.Certificates {
  height: 400px;  
  display: flex;
  gap: 30px;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  
}


.Certificates::-webkit-scrollbar {
  display: none;
}
